/* Principales */
header {
  max-height: 25rem;
}
i {
  font-size: 2rem;
  margin-top: 1rem;
  color: white;
}
footer{
  font-weight: 600;
  font-size: 1rem;
}
footer .row{
  height: 100%;
}
.logo {
  width: 9rem;
  height: 8rem;
  margin-left: 4rem;

  font-family: 'Bad Script', cursive;
  color: rgb(243, 236, 236);
  font-size: 2rem;
  font-weight: 900;
}
nav , .bg-footer {
  background-image: url('https://images.pexels.com/photos/3611882/pexels-photo-3611882.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
/* Index */
.tip_let {
  font-family: 'Bad Script', cursive;
}
#tam-pe {
  width: 100%;
  padding: 0;
  text-align: justify
}
/* Noticias */
.i_noticias{
  font-size: 1.5rem;     
  color: rgb(15, 15, 15);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.con_card {
  width: 18rem;
}
.img_card {
  height: 13rem;
}
.text-muted i {
  margin: 0 10px;
}
 /* Contacto  */
.bg_contacto {
  background-image: url('fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;   
}

/***************************/
